@use 'variables' as *;

@font-face {
  font-family: 'Product Sans';
  src: url('../assets/fonts/Product\ Sans\ Regular.ttf') format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../assets/fonts/Product\ Sans\ Bold.ttf') format('ttf');
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: $base-fs;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: clamp(1rem, 0.96rem + 0.18vw, 1.125rem);
  background-color: $black;
  color: $white;
  overflow-x: hidden;
  line-height: 1.5;
  min-height: 100vh;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}