//Colors
$white: #F8F9FA;
$black: #191919;
$gray: #303136;

//Fonts
$primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$title: 'Product Sans', sans-serif;

//Font Sizes
$base-fs: 1rem;
$fs-1: $base-fs * .9375;
$fs-2: $base-fs * 1.25;
$fs-3: $base-fs * 1.5;
$fs-4: $base-fs * 1.75;
$fs-5: $base-fs * 2;
$fs-6: $base-fs * 2.25;
$fs-7: $base-fs * 2.5;

//Padding
$base-p: 1rem;
$p-1: $base-p * 1.25;
$p-2: $base-p * 1.5;
$p-3: $base-p * 1.75;
$p-4: $base-p * 2;
$p-5: $base-p * 2.25;
$p-6: $base-p * 2.5;
$p-7: $base-p * 2.75;
$p-8: $base-p * 3;
$p-9: $base-p * 3.25;
$p-10: $base-p * 3.5;
$p-11: $base-p * 3.75;

//Gutter
$base-g: 1rem;
$gutter-1: 1.125rem;